.Formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}


.segundo-input{
  width: 410px;
  padding: 10.5px 14px;
}


.checkbox_one{
  
  position: relative;
  right: 197px;
  margin-top: 15px;
  top: 10px;
}


.para_one{
  display: flex;
  width: 300px;
  position: relative;
  bottom: 39px;
  right: 30px;
  padding: 13px;
}



.second_icon{
  position: relative;
  top: 19px;
  padding: 20px;
}


.header{
  padding: 10px;
  position: relative;
  bottom: 10px;
}


